.field-course {
  position: relative;
  padding: 15px 0 0;
  width: 384px;
  margin: auto;
}
.title {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  outline: 0;
  font-size: 16px;
  padding: 7px 0;
  margin-bottom: 20px;
  background: transparent;
  transition: border-color 0.2s;
}

.desc {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  outline: 0;
  font-size: 16px;
  padding: 7px 0;
  margin-bottom: 20px;
  background: transparent;
  transition: border-color 0.2s;
}
.title::placeholder {
  color: transparent;
}
.title:placeholder-shown ~ .form__label-title {
  font-size: 18px;
  cursor: text;
  top: 20px;
}
.desc::placeholder {
  color: transparent;
}
.desc:placeholder-shown ~ .form__label-desc {
  font-size: 18px;
  cursor: text;
  top: 20px;
}
.form__label-title {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.form__label-desc {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.title:focus {
  padding-bottom: 6px;
  font-weight: 200;
  border-width: 1px;
  border-image: linear-gradient(to right, rgb(0, 188, 212), rgb(0, 188, 212));
  border-image-slice: 1;
}
.title:focus ~ .form__label-title {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(0, 188, 212);
  font-weight: 500;
}

.desc:focus {
  padding-bottom: 6px;
  font-weight: 200;
  border-width: 1px;
  border-image: linear-gradient(to right, rgb(0, 188, 212), rgb(0, 188, 212));
  border-image-slice: 1;
}
.desc:focus ~ .form__label-desc {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(0, 188, 212);
  font-weight: 500;
}

.title:required,
.title:invalid {
  box-shadow: none;
}

.desc:required,
.desc:invalid {
  box-shadow: none;
}
