.field {
  position: relative;
  padding: 15px 0 0;
  width: 256px;
  margin: auto;
  display: flex;
}
.interest {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  outline: 0;
  font-size: 16px;
  padding: 7px 0;
  margin-bottom: 20px;
  background: transparent;
  transition: border-color 0.2s;
}
.interest::placeholder {
  color: transparent;
}
.interest:placeholder-shown ~ .form__label {
  font-size: 18px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.interest:focus {
  padding-bottom: 6px;
  font-weight: 200;
  border-width: 1px;
  border-image: linear-gradient(to right, rgb(0, 188, 212), rgb(0, 188, 212));
  border-image-slice: 1;
}
.interest:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: rgb(0, 188, 212);
  font-weight: 500;
}

.interest:required,
.interest:invalid {
  box-shadow: none;
}
