.field-resp {
  position: relative;
  padding: 15px 0 0;
  width: 512px;
  margin: auto;
  display: flex;
}
.post {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  outline: 0;
  font-size: 16px;
  padding: 7px 0;
  margin-bottom: 20px;
  background: transparent;
  transition: border-color 0.2s;
}

.place {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  outline: 0;
  font-size: 16px;
  padding: 7px 0;
  margin-bottom: 20px;
  background: transparent;
  transition: border-color 0.2s;
}
.post::placeholder {
  color: transparent;
}
.place::placeholder {
  color: transparent;
}
.post:placeholder-shown ~ .form__label-post {
  font-size: 18px;
  cursor: text;
  top: 20px;
}
.place:placeholder-shown ~ .form__label-place {
  font-size: 18px;
  cursor: text;
  top: 20px;
}
.form__label-post {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.form__label-place {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.post:focus {
  padding-bottom: 6px;
  font-weight: 200;
  border-width: 1px;
  border-image: linear-gradient(to right, rgb(0, 188, 212), rgb(0, 188, 212));
  border-image-slice: 1;
}
.place:focus {
  padding-bottom: 6px;
  font-weight: 200;
  border-width: 1px;
  border-image: linear-gradient(to right, rgb(0, 188, 212), rgb(0, 188, 212));
  border-image-slice: 1;
}
.post:focus ~ .form__label-post {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(0, 188, 212);
  font-weight: 500;
}
.place:focus ~ .form__label-place {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(0, 188, 212);
  font-weight: 500;
}

.post:required,
.post:invalid {
  box-shadow: none;
}

.place:required,
.place:invalid {
  box-shadow: none;
}
